.horizon {
  color: $text-default;
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: visible;
  justify-content: space-around;
  min-width: 300px;
}

.banner-image {
  border-radius: 9999px;
}

.headline {
  font-family: Riviera, sans-serif;
  background-color: transparent;
  min-height: 50px;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 1em;
  margin-right: -1em;

  @media only screen and (max-width: 700px) {
    margin-top: 2rem;
  }
}
