@font-face {
	font-family: Riviera;
	src: url('/Riviera.otf')
}

$background-grey: #1f1e1e;
$foreground-grey: #333333;
$field-grey: #3C3C3C;
$text-default: #666;
$header-text: #AAAAAA;
$blue-glow: #283cff;
$blue-glow-hover: #5a5eff;

body {
	background-color: $background-grey;
	color: $text-default;
}

.horizon {
	color: $header-text;
	background-color: transparent;
	display: flex;
	align-items: center;
	width: 100%;
	overflow: visible;
	visibility: visible;
	justify-content: space-around;
}

.secondary {
  position: fixed;
  justify-content: unset;
}

#content {
	font-family: Riviera, sans-serif;
	background-color: transparent;
	min-height: 50px;
	visibility: visible
}

.headline {
	font-weight: bold;
	font-size: 3em;
	letter-spacing: 1em;
	margin-right: 1.5rem;
}

@import './layouts.scss';
@import './utils.scss';
@import './nav.scss';
@import './settings.scss';
@import './slider.scss';
@import './weather.scss';
