/* ===============================  */
/*  	settings page  				*/

center h2#title{
	font-family: Riviera, sans-serif;
	color: #AAAAAA;
	font-size: 60px;
	position: absolute;
	width: 100%;
	left: 10px;
}

#horizon-settings {
	position: absolute;
	top: 150px;
	width: 100%;
	border: 5px white;
}

#content-settings {
	background-color: #646468;
	position: relative;
	width: 70%;
	left: 14%;
	border-radius: 50px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	width: 100%;
}
