.MuiPaper-root {
	background: rgba(0, 0, 0, 0.0);
	width: 240px;
	max-height: 320px;
	box-shadow: unset;
}

.MuiCircularProgress-root {
	position: relative;
	bottom: 10px;
	left: -15px;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $foreground-grey;
	color: $text-default;
	border-radius: 20px;
	height: 320px;
}

.city {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
}

.city-temp {
	font-size: 40px;
	font-weight: bold;
	margin-top: 10px;
	color: $text-default;
	text-align: center;
}

.city-temp sup {
	font-size: 25px;
}

.city sup {
	font-size: 0.5em;
}

.city-name {
	font-size: 25px;
	font-weight: inherit;
	margin-bottom: 0;
	text-align: center;
}

.city-name sup {
	margin-left: 0.2em;
	border-radius: 30px;
}

.city-icon {
	margin-top: 10px;
	width: 100px;
	height: 100px;
}

.description {
	text-transform: capitalize;
	letter-spacing: 0.05em;
	color: $text-default;
}

.date-time {
	text-align: center;
	margin-top: 0.5rem;
}

.icon-scale {
	transform: scale(0.5, 0.5) !important;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-bar {
	display: inline-flex;
	align-items: center;
	padding-left: 1.5rem;

	.search-icon {
		height: 20px;
		width: 20px;
		position: relative;
		left: -22px;
		cursor: pointer;
	}
}

.search {
	outline: none;
	border-radius: 10px;
	border: none;
	background-color: $field-grey;
	color: $text-default;
	line-height: 1.5rem;
	padding-left: 10px;
	padding-right: 30px;
	margin-top: 12px;
}