.card {
  background-color: #333333;
  color: #AAAAAA;
  width: 275px !important;
  height: 355px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 20px;
  margin: 5px;
}
