@import 'swiper/scss';
@import 'swiper/scss/effect-cards';
@import 'swiper/scss/pagination';
@import 'swiper/scss/navigation';
@import 'swiper/scss/virtual';

.swiper {
  width: 240px;
  height: 320px;
  margin-left: unset;
  margin-right: unset;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: $text-default;
  background-color: $foreground-grey;
}

.swiper-pagination-bullet {
  background: $text-default;
  opacity: 50%;
}

.swiper-pagination-bullet-active {
  opacity: unset;
}