@import 'swiper/scss';
@import 'swiper/scss/pagination';
@import 'swiper/scss/navigation';
// @import 'swiper/scss/virtual';

.swiper {
  width: 240px;
  height: 320px;
  margin-left: unset;
  margin-right: unset;
}

.swiper-slide {
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: $text-default;
  background-color: $foreground-grey;
}

.swiper-pagination-bullet {
  background: $text-default;
  opacity: 50%;
}

.swiper-pagination-bullet-active {
  opacity: unset;
}

.swiper-button-prev {
  color: $text-default;
  transform: scale(0.65);
}

.swiper-button-next {
  color: $text-default;
  transform: scale(0.65);
}

.freyr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-today {
  margin-top: 10px;
}

.meal-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background-color: $foreground-grey;
  color: $text-default;

  &.today {
    background-color: grey;
    color: #C3C3C6;
  }
}

.day-title {
  text-align: center;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  position: absolute;
  top: 1rem;
}

.section-dinner {
  text-align: center;
  .dinner-name {
    margin-bottom: -0.25rem;
    margin-top: -0.75rem;
    font-size: x-large;
    font-weight: lighter;
  }
}
