@font-face {
	font-family: Riviera;
	src: url('/Riviera.otf')
}

$background-grey: #1f1e1e;
$foreground-grey: #333333;
$field-grey: #3C3C3C;
$text-default: #666;
$header-text: #AAAAAA;
$blue-glow: #283cff;
$blue-glow-hover: #5a5eff;

body {
	background-color: $background-grey;
	color: $text-default;
}

.secondary {
	position: fixed;
	justify-content: unset;
}

@import './banner.scss';
@import './layout.scss';
@import './navV2.scss';
@import './settings.scss';
@import './slider.scss';
@import './utils.scss';

// module imports
@import './anemoi.scss';
@import './freyr.scss';
@import './moirai.scss';
@import './statusV2.scss';
