.status-box {
  background-color: $foreground-grey;
  color: $header-text;
  border-radius: 20px;
  align-content: center;
}

.status-title {
  text-align: center;
  margin-bottom: -1.5rem;
}

.status-keys {
  align-content: center;
  text-align: right;
}

.status-values {
  align-content: center;
  align-items: right;
}

.hass-status {
  position: relative;
  top: -0.5rem;
}

.hass-value {
  position: relative;
  top: 0.25rem;
}

.hass-green {
  color: yellowgreen;
}

.hass-red {
  color: red;
}
